body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background: #111827;
  color: white;
  padding: 30px;
  text-align: center;
}

.card {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

button {
  padding: 10px 15px;
  border: none;
  background: #111827;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

input {
  padding: 10px;
  width: 70%;
  margin-bottom: 10px;
}

#timer {
  font-size: 32px;
  font-weight: bold;
}
